.form_auth__container {

  .scroll-content {
    @extend .vcenter;
  }

  .login-box {
    min-height: 300px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3);

    .login-title {
      padding: 5px 0;
    }

  }

  .footer-infos {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    > p.link {
      margin-bottom: -10px;
      color: rgb(100, 149, 237);
    }

  }

  .present {
    bottom: 10px;
  }

}
