<ion-header>
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col class="text-left" col-10>
          <h5 class="fweight blank mtop-0">Haapp</h5>
        </ion-col>
        <ion-col class="text-right" col-2>
          <ion-icon name="ios-search" class="header-icon-config blank"></ion-icon>
        </ion-col>
      </ion-row>
        <ion-row>
          <ion-col class="text-left" col-2>
            <ion-avatar class="header-user-profile" item-start>
              <img class="object-cover" [src]="currentUser.avatar_url">
            </ion-avatar>
          </ion-col>
          <ion-col class="text-center" col-8>
            <ion-title>Conversas</ion-title>
          </ion-col>
          <ion-col class="text-right" col-2>
            <ion-icon name="ios-settings-outline" class="header-icon-config fsize-1dot6 middle blank"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let chat of chatPreviewList" (tap)="openChatConversation($event, chat);"
                                                   (press)="openChatOptions($event, chat)">
      <ion-avatar class="relative" item-start>
        <img class="object-cover" [src]="chat?.avatar_url">
        <ion-icon class="chat-selected absolute" name="md-checkmark-circle" [hidden]="!chat?.openedOptions"></ion-icon>
      </ion-avatar>

      <h2 class="user-name-preview">
        {{ chat?.name }}
        <small style="font-size:0.6em;color:#666;">@{{ chat?.username }}</small>
      </h2>

      <div class="text-center" item-right>
        <span class="user-notify-counter" [hidden]="chat?.unread_counter < 1">{{ chat?.unread_counter }}</span>
        <small class="user-status-preview" [ngClass]="{'online': chat?.current_status, 'offline': !chat?.current_status}">
          {{ (chat?.current_status) ? 'online' : 'offline'}}
        </small>
        <ion-icon name="star" class="yellow" [hidden]="!chat?.is_favority"></ion-icon>
      </div>

      <p class="user-message-preview">
        <ion-icon name="ios-redo-outline" [hidden]="(!chat?.messages[chat?.messages_count - 1].user_id == currentUser.user_id)"
                                          *ngIf="!chat?.messages[chat?.messages_count - 1].read"></ion-icon>

        <ion-icon name="ios-redo" class="green" [hidden]="(!chat?.messages[chat?.messages_count - 1].user_id == currentUser.user_id)"
                                                *ngIf="chat?.messages[chat?.messages_count - 1].read"></ion-icon>

        {{ chat?.messages[chat?.messages_count - 1].text }}
      </p>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab mini class="btn-primary" (tap)="initNewConversation($event)">
      <ion-icon name="ios-add-outline"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
