.user-name-preview {
  font-size: 1em !important;
}

.user-message-preview {
  font-size: .8em !important;
}

.user-status-preview {
  display: block;
  text-shadow: 1px 1px 10px;
}

.user-status-preview.online {
  color: $color__message_checked;
}

.user-status-preview.offline {
  color: $color__light_gray;
}

.user-notify-counter {
  background-color: $color__primary;
  border-radius: 100%;
  padding: 2px 6px;
  font-size: .6em;
  color: #fff;
  vertical-align: middle;
}

.chat-selected {
  top: -1px;
  right: 2px;
  color: $color__light_gray;
  font-size: 2.8em;
}
