<ion-header>
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col class="left" col-10>
          <h5 class="fweight blank mtop-0">Haapp</h5>
        </ion-col>
        <ion-col class="tright" col-2>
          <ion-icon name="ios-search" class="fsize-1dot5 base-middle blank"></ion-icon>
        </ion-col>
      </ion-row>
        <ion-row>
          <ion-col class="tleft" col-2>
            <ion-avatar class="header-user-profile radius-100 hidden" item-start (tap)="goToSelectedProfile(currentUser)">
              <img [src]="currentUser.avatar_url" class="object-cover wh-100">
            </ion-avatar>
          </ion-col>
          <ion-col class="tcenter" col-8>
            <ion-title class="mtop-1">Feed</ion-title>
          </ion-col>
          <ion-col class="tright" col-2>
            <ion-icon name="ios-settings-outline" class="fsize-1dot5 base-middle fsize-1dot6 base-middle blank" (tap)="goToConfigs()"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content class="secrets__container bg-f8">
  <ion-grid class="p-0">
    <ion-row>
      <ion-card class="radius-5 p-3 card-shadow" *ngFor="let secret of secrets">

        <ion-card-header class="card-header">
          <ion-grid class="p-0">
            <ion-row class="p-0">
              <ion-col class="p-0" col-10>
                <span class="fsize-dot8 gray">
                  <ion-icon name="ios-contact" class="middle fsize-2"></ion-icon>
                  &nbsp;&nbsp;@anônimo
                </span>
              </ion-col>
              <ion-col class="p-0 tright" col-2 (tap)="openSecretOptions($event, secret)">
                <ion-icon name="ios-more-outline" [hidden]="secret?.openedOptions"></ion-icon>
                <ion-icon name="md-checkmark-circle" [hidden]="!secret?.openedOptions"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>

        <ion-card-content class="p-0 pbottom-3">
          <ion-grid>
            <ion-row>
              <p class="black pre-line" [ngClass]="{'fsize-1dot3': !secret?.image_url && secret?.text.length < 50,
                                                    'fsize-dot9': secret?.image_url || secret?.text.length > 100}">
                {{ secret?.text }}
              </p>
            </ion-row>

            <ion-row>
              <span class="before-image-load relative bg-blank mbottom vcenter fsize-dot7" *ngIf="(secret?.image_url && secret?.image_url.length)
                                                                                                                     && !secret.showImage">
              <ion-icon name="ios-image-outline" class="fsize-24 blur-7"></ion-icon>

              <span class="img-download absolute tcenter" (tap)="showSecretImage($event, secret)">
                <span class="block black fsize-1dot3" *ngIf="secret?.explicit_image">
                  <strong class="bold">Atenção!</strong> Imagem com conteúdo explícito.
                </span>

                <ion-icon name="ios-cloud-download-outline" class="fsize-2dot3 blank" *ngIf="!secret?.explicit_image"></ion-icon>
                <ion-icon name="ios-eye-outline" class="fsize-2dot3 black" *ngIf="secret?.explicit_image"></ion-icon>

                &nbsp;&nbsp;<small class="fsize-1dot2 black super" [ngClass]="{'blank': !secret?.explicit_image, 'black': secret?.explicit_image}">
                  {{ (!secret?.explicit_image) ? 'Carregar' : 'Ver mesmo assim' }}
                </small>

              </span>
            </span>

            <img [src]="secret?.image_url" *ngIf="(secret?.image_url && secret?.image_url.length)"
                                            [hidden]="!secret.showImage"/>

            </ion-row>
          </ion-grid>
        </ion-card-content>

        <ion-row class="border-top ptop-3">
          <ion-col class="border-right vcenter" col-6>
            <span>
              <ion-icon name="ios-heart-outline" class="red middle"></ion-icon>
              &nbsp;&nbsp;{{ '122' }}
            </span>
          </ion-col>
          <ion-col class="vcenter" col-6>
            <span>
              <ion-icon name="ios-text-outline" class="middle"></ion-icon>
              &nbsp;&nbsp;{{ '4' }}
            </span>
          </ion-col>
        </ion-row>

      </ion-card>
    </ion-row>
  </ion-grid>

  <ion-fab right bottom>
    <button ion-fab mini class="btn-primary" (tap)="goToQuote($event)">
      <ion-icon name="ios-quote-outline"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
