.bubble__container {
  background-image: url('../../../assets/imgs/chat-background-1.png');

  .chat-bubble-bubble,
  .chat-bubble-bubble {
    padding: 5px;
    border-radius: 5px;
    max-width: 90%;
  }
  .chat-bubble-bubble > span,
  .chat-bubble-bubble > span {
    text-align: right;
    font-size: .7em;
    vertical-align: bottom;
  }

  .chat-bubble-bubble.myself {
    background-color: beige;
    float: right;
    margin: 2px;
  }

  .chat-bubble-bubble.otheruser {
    background-color: #fff;
  }

  .chat-bubble-bubble-like {
    font-size: 1.7em;
    vertical-align: middle;
  }

  .chat-bubble-bubble-visualized {
    margin-top: -10px;
    font-size: .7em;
  }

}

.chat-bubble-header-username {
  display: block;
  font-size: .5em;
  color: $color__gray;
}

.chat-bubble-header-data {
  text-align: right;
  font-size: .7em;
  color: $color__gray;
}

.footer.footer-md.bubble-footer .toolbar-background-md {
  background-color: transparent !important;
}
.footer.footer-md.bubble-footer .send-message {
  border-radius: 100%;
  height: 44px;
  padding-left: 3px;
  margin-top: 8px;
  margin-left: 7px;
}
