.bubble__container {
  background-image: url('../../../assets/imgs/chat-background-1.png');

  .chat-bubble-bubble {
    max-width: 90%;
  }

  .chat-bubble-bubble.myself { background-color: rgb(245, 245, 220); }
  .chat-bubble-bubble.otheruser { background-color: $color__blank; }

  .chat-bubble-bubble-visualized {
    margin-top: -10px;
  }

  .before-image-load {
    width: 291px;
    height: 200px;

    .img-download {
      padding: 10px 23px;
      border-radius: 5%;
      background-color: rgba(0, 0, 0, .4);
    }

  }

  .message-info {
    margin-top: 15px;
    margin-right: 5px;
    text-align: right;
  }


}
