<ion-header>
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col class="tleft" col-10 (tap)="goToProfile(chatData)">
          <ion-avatar class="header-user-profile radius-100 hidden inline middle" item-start>
            <img [src]="chatData?.avatar_url" class="object-cover wh-100">
          </ion-avatar>
          <ion-title class="inline middle">
            {{ chatData?.name }}
            <small class="fsize-dot5 block fweight-100 blank">@{{ chatData?.username }}</small>
          </ion-title>
        </ion-col>
        <ion-col class="tright mtop-7" col-2 (tap)="showBubbleOptions()">
          <ion-icon name="md-more" class="fsize-1dot5 base-middle blank"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content class="bubble__container" padding>
  <div *ngFor="let message of chatData.messages; let i = index">
    <p class="chat-bubble-bubble inline p-5 radius-5" [ngClass]="{'myself right m-2': message?.user_id == currentUser?.user_id,
                                                                    'otheruser': message?.user_id !== currentUser?.user_id}"
                                                        (press)="messageTapped($event, message)">

      <span class="before-image-load relative bg-blank mbottom vcenter fsize-dot7" *ngIf="(message?.image_url && message?.image_url.length)
                                                                               && !message.showImage">
        <ion-icon name="ios-image-outline" class="fsize-24 blur-7"></ion-icon>

        <span class="img-download absolute" (tap)="showMessageImage($event, message)">
          <ion-icon name="ios-cloud-download-outline" class="fsize-2dot3 blank"></ion-icon>
          &nbsp;&nbsp;<small class="fsize-1dot2 blank super">Carregar</small>
        </span>
      </span>

      <img [src]="message?.image_url" class="bubble-bubble-img" *ngIf="(message?.image_url && message?.image_url.length)"
                                                                [hidden]="!message.showImage"/>

      {{ message?.text }}&nbsp;&nbsp;<span class="right fsize-dot7 mtop-4">{{ message?.created_at | date:'hh:mm' }}</span>
      &nbsp;&nbsp;<ion-icon name="md-checkmark-circle" class="light-gray middle" [hidden]="!message?.selected"></ion-icon>
    </p>

    &nbsp;<span [hidden]="message?.user_id == currentUser?.user_id" (tap)="likeToggle(message)">
      <ion-icon class="fsize-1dot7 middle red" name="ios-heart" [hidden]="!message?.liked"></ion-icon>
      <ion-icon class="fsize-1dot7 middle" name="ios-heart-outline" [hidden]="message?.liked"></ion-icon>
    </span>

    <div class="message-info" *ngIf="message?.user_id == currentUser?.user_id">
      <span class="fsize-dot7 block pbottom-7 right" *ngIf="message?.read && (i == (chatData?.messages.length - 1))">
        <ion-icon class="middle" name="ios-eye-outline"></ion-icon>&nbsp;visto
      </span>
      <span class="fsize-dot7 block pbottom-7 right" *ngIf="message?.liked">
        <ion-icon name="ios-thumbs-up-outline"></ion-icon>&nbsp;curtiu
        {{ (message?.read && (i == (chatData?.messages.length - 1))) ? '&nbsp;|&nbsp;' : '' }}
      </span>
    </div>

    <div class="fix-float"></div>
  </div>
</ion-content>

<ion-footer class="bubble-footer">
  <ion-toolbar>
      <ion-grid>
        <ion-row class="bg-blank radius-10">
          <ion-col class="vcenter" col-1>
            <ion-icon name="ios-images-outline" class="fsize-1dot8" (tap)="getImage($event)"></ion-icon>
          </ion-col>
          <ion-col class="vcenter" col-10>
            <ion-textarea class="bubble-textbox hidden" [(ngModel)]="chatMessage.text" (keyup)="isTyping($event)"
                                                        [ngClass]="{'noexpand': chatMessage.text.length < 34 }"  placeholder="Diga algo..."></ion-textarea>
          </ion-col>
          <ion-col class="vcenter" col-1 (tap)="send($event)">
            <ion-icon name="md-send" class="send-message fsize-1dot8"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-footer>
