.profile__container {

  .photo-slider {
    min-height: 50% !important;
    max-height: 75% !important;
  }

  .photo-background {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: $color__primary !important;
  }

  .stats-border,
  .stats-border-right {
    border-right: 1px solid #ccc;
  }
  .stats-border {
    border-left: 1px solid #ccc;
  }

  .btn-report {
    border-color: $color__light_gray !important;
    color: $color__light_gray !important;
  }

}
