// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/**
 * Default Colors
 */
$color__primary: rgb(0, 128, 128);
$color__message_checked: #82BD4C;
$color__favority_chat: #FFE426;
$color__message_liked: #E33F3D;
$color__turquoise: rgb(64, 224, 208);
$color__light_gray: #ccc;
$color__gray: #666;
$color__dark_gray: rgb(169, 169, 169);

/** Colors to dinamyc conditionals */
.blank { color: #fff !important;; }
.light-gray { color: $color__light_gray !important; }
.green { color: $color__message_checked !important; }
.yellow { color: $color__favority_chat !important; }
.red { color: $color__message_liked !important; }

/** Fonts */
.fsize-1 { font-size: 1em !important; }
.fsize-1dot6 { font-size: 1.6em !important; }
.fsize-2 { font-size: 2em !important; }
/** Font Styles */
.fweight { font-weight: normal !important; }
.fweight-100 { font-weight: 100 !important; }

/** Margins */
.mtop-0 { margin-top: 0 !important; }
.mtop-1 { margin-top: 1px !important; }
.mtop-3 { margin-top: 3px !important; }

/** Padding */
.ptop-10 { padding-top: 10px !important; }

/** Backgrounds */
.btn-primary { background-color: rgb(112, 128, 144) !important; }
.bg-blank { background-color: #fff !important; }

/** Border Radius */
.radius-10 { border-radius: 10px !important; }

/** Helpers */
.text-center { text-align: center !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.object-cover { object-fit: cover !important; }
.inline { display: inline-block !important; }
.block { display: block !important; }
.relative { position: relative !important; }
.absolute { position: absolute !important; }
.super { vertical-align: super !important; }
.fix-float { clear: both !important; }
.middle { vertical-align: middle !important; }
.base-middle { vertical-align: -webkit-baseline-middle !important; }

/*****************************************
 *       Ionic Custom Components
 *****************************************
 */

 /** Header */
 .header.header-md {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .5) !important;
}
.header-user-profile {
  width: 29px !important;
  height: 28px;
  border-radius: 100%;
  overflow: hidden;
}
.header-user-profile > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-icon-config {
  vertical-align: -webkit-baseline-middle;
  font-size: 1.5em !important;
}

.toolbar-background-md {
  background: $color__primary !important;
}
.toolbar-title.toolbar-title-md {
  color: #fff !important;
  font-weight: normal !important;
}
.back-button {
  color: #fff !important;
}

.card.card-md {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1), 0 1px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}
