.quote__container {

  .row-content {
    height: 230px !important;

    .text-input.text-input-md {
      height: 160px !important;
    }

  }

  .separator hr {
    border: 0 solid #ccc;
  }

  .checkbox.checkbox-md {
    width: 16px !important;
  }

  .item-inner {
    margin-left: -30px !important;
    border-bottom: none !important;
  }

  .image-selected {
    height: 98%;

    .remove-icon {
      position: absolute;
      top: 1px;
      right: 1px;
      padding: 5px 12px;
    }

  }

}
