.diary__container {

  .card-header {
    padding: 3px 7px !important;
  }

  .card-header .avatar {
    width: 23px;
    height: 23px;
  }

  .card-footer .infos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .border-top {
    border-top: 1px solid #ccc !important;
  }

  .border-right {
    border-right: 1px solid #ccc !important;
  }

  .card-shadow {
    box-shadow: 1px 1px 7px rgba(0, 0, 0, .2) !important;
  }

  .before-image-load {
    width: 356px;
    height: 200px;

    .img-download {
      padding: 10px 23px;
      background-color: rgba(0, 0, 0, .5);
    }

  }

  .comments-icon {
    color: rgb(105, 105, 105);
  }

  .like-icon {
    color: rgb(139, 0, 0);
  }

}
